html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: auto;
  width: 900px;
  text-align: center;
}

canvas {
  display: block;
}


.mode_actif {
  background-color: orange;
  color: yellow;
  font-weight: bold;
}

.label_tension{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: large;
}

#application {
  margin: auto;
  margin-top: 5%;
  width: fit-content;
  position: relative;
  width: 900px;
  height: 600px;
}